.content{
   width: 100%;
   text-align: center;
}

.button{
   background-color: rgb(230, 230, 230);
   border: 1px solid rgb(184, 184, 184);
   border-radius: 5px;
   margin: 0 5px;
   padding:8px 15px;
   font-weight: bold;
   cursor: pointer;
}

.button:hover{
   background-color: rgb(222, 222, 222);
}

.button:focus{
   background-color: rgb(215, 215, 215);
}